<div class="container">
  <div class="car-header" fxLayout="row" fxLayoutAlign="space-between center">
    <h1>{{ car.make }} {{ car.model }} ({{ car.year }})</h1>
    <div fxLayout="row" fxLayoutGap="2rem">
      <button mat-raised-button color="primary" (click)="onEditCar()">
        <mat-icon>edit</mat-icon> Edit Car
      </button>
      <button mat-raised-button color="warn" (click)="onDeleteCar()">
        <mat-icon>delete</mat-icon> Delete Car
      </button>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="service-section" fxLayout="row" fxLayoutAlign="space-between center" style="margin-top: 24px;">
    <h2>Service Records</h2>
    <button mat-raised-button color="accent" (click)="onAddService()">
      <mat-icon>add_circle</mat-icon> Add Service
    </button>
  </div>

  <mat-table [dataSource]="car.services" class="mat-elevation-z8 service-table">
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let service">{{ service.date | date:'longDate' }}</td>
    </ng-container>

    <ng-container matColumnDef="part">
      <th mat-header-cell *matHeaderCellDef>Part</th>
      <td mat-cell *matCellDef="let service">{{ service.part }}</td>
    </ng-container>

    <ng-container matColumnDef="cost">
      <th mat-header-cell *matHeaderCellDef>Cost</th>
      <td mat-cell *matCellDef="let service">{{ service.cost | currency }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['date', 'part', 'cost']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['date', 'part', 'cost'];"></tr>
  </mat-table>
</div>


